body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgray;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 16px;
}

a {
  font-size: 24px;
  color: #1d2b30;
  text-decoration: none;
  margin-left: 24px;
}

.title-container {
  font-size: 32px;
}

.card-container, .details-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 40px;
  height: 85%;
  width: 95%;
  border: 1px solid black;
}

.form-container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

input, select, textarea, button {
  margin-top: 16px;
}

button {
  border-radius: 8px;
  background-color: rgb(199, 233, 140);
  border: none;
  font-size: 16px;
  padding: 12px;
}

.meal-image {
  width: 200px;
}

.meal-card {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
}

h2 {
  font-size: 24px;
}

.details-photo {
  width: 400px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  width: 400px;
}