<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="title-container">Meal Planner</div>
    <div class="link-container">
      <a href="/meals">Meal List</a>
      <a href="/meals/new">Add a Meal</a>
    </div>
  </nav>
  <div class="card-container">
    <% meals.forEach(meal => { %>
      <a href="/meals/<%= meal._id %>">
        <div class="meal-card">
          <h2><%= meal.name %></h2>
          <img class="meal-image" src="<%= meal.photo %>" alt="A picture of this tasty meal">
        </div>
      </a>
    <% }) %>
  </div>
</body>
</html>